name: Test
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    - cron: "43 7 * * 0"
concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  test-wasm:
    runs-on: ubuntu-latest
    steps:
      - name: Setup bazel
        uses: bazel-contrib/setup-bazel@0.15.0
        with:
          bazelisk-cache: false
          disk-cache: ${{ github.workflow }}
          repository-cache: false
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build
        run: "cd wasm && bazel build //..."

  test-rv5-tools:
    runs-on: ubuntu-latest
    steps:
      - name: Setup bazel
        uses: bazel-contrib/setup-bazel@0.15.0
        with:
          bazelisk-cache: false
          disk-cache: ${{ github.workflow }}
          repository-cache: false
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build
        run: "cd rv5-tools && bazel build //..."

  test-rules-foreign-cc:
    runs-on: ubuntu-latest
    steps:
      - name: Setup bazel
        uses: bazel-contrib/setup-bazel@0.15.0
        with:
          bazelisk-cache: false
          disk-cache: ${{ github.workflow }}
          repository-cache: false
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build
        run: "cd rules-foreign-cc && bazel build //..."

  test-rebuild:
    runs-on: ubuntu-latest
    steps:
      - name: Setup bazel
        uses: bazel-contrib/setup-bazel@0.15.0
        with:
          bazelisk-cache: false
          disk-cache: ${{ github.workflow }}
          repository-cache: false
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build
        run: "cd rebuild && bazel build //..."

  test-python:
    runs-on: ubuntu-latest
    steps:
      - name: Setup bazel
        uses: bazel-contrib/setup-bazel@0.15.0
        with:
          bazelisk-cache: false
          disk-cache: ${{ github.workflow }}
          repository-cache: false
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build
        run: "cd python && bazel build //..."
      - name: Test
        run: "cd python && bazel test --test_output=errors //..."

  test-riscv64-rust-baremetal:
    runs-on: ubuntu-latest
    steps:
      - name: Setup bazel
        uses: bazel-contrib/setup-bazel@0.15.0
        with:
          bazelisk-cache: false
          disk-cache: ${{ github.workflow }}
          repository-cache: false
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build
        run: "cd riscv64-rust-baremetal && bazel build //..."

  test-musl:
    runs-on: ubuntu-latest
    steps:
      - name: Setup bazel
        uses: bazel-contrib/setup-bazel@0.15.0
        with:
          bazelisk-cache: false
          disk-cache: ${{ github.workflow }}
          repository-cache: false
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build
        run: "cd musl && bazel build //..."

  test-go-protoc-binary:
    runs-on: ubuntu-latest
    steps:
      - name: Setup bazel
        uses: bazel-contrib/setup-bazel@0.15.0
        with:
          bazelisk-cache: false
          disk-cache: ${{ github.workflow }}
          repository-cache: false
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build
        run: "cd go-protoc-binary && bazel build //..."
      - name: Test
        run: "cd go-protoc-binary && bazel test --test_output=errors //..."

  test-runfiles:
    runs-on: ubuntu-latest
    steps:
      - name: Setup bazel
        uses: bazel-contrib/setup-bazel@0.15.0
        with:
          bazelisk-cache: false
          disk-cache: ${{ github.workflow }}
          repository-cache: false
      - name: Checkout
        uses: actions/checkout@v2
      - name: Test base repo
        run: "cd runfiles && bazel test --test_output=errors //..."
      - name: Integration test
        run: "cd runfiles/integration && bazel test --test_output=errors //..."

  test-adk:
    runs-on: ubuntu-latest
    steps:
      - name: Setup bazel
        uses: bazel-contrib/setup-bazel@0.15.0
        with:
          bazelisk-cache: false
          disk-cache: ${{ github.workflow }}
          repository-cache: false
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build repo
        run: "cd adk && bazel build --test_output=errors //..."
      - name: Test repo
        run: "cd adk && bazel test --test_output=errors //..."

  test-js:
    runs-on: ubuntu-latest
    steps:
      - name: Setup bazel
        uses: bazel-contrib/setup-bazel@0.15.0
        with:
          bazelisk-cache: false
          disk-cache: ${{ github.workflow }}
          repository-cache: false
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build repo
        run: "cd adk && bazel build --test_output=errors //examples/..."
